<div class="page-header">
  <h1>Edit Tool #<%= @tool.id %></h1>
</div>

<% if @tool.errors.any? %>
  <% @tool.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<form action="/update_tool/<%= @tool.id %>" class="form-horizontal">
  <!-- Label and input for tool_name -->
  <div class="form-group">
    <label for="tool_name" class="col-sm-2 control-label">
      Tool name
    </label>
    <div class="col-sm-10">
      <input type="text" id="tool_name" name="tool_name" placeholder="Tool name" class="form-control" value="<%= @tool.tool_name %>">
    </div>
  </div>

  <!-- Label and input for user_id -->
  <div class="form-group">
    <label for="user_id" class="col-sm-2 control-label">
      User
    </label>
    <div class="col-sm-10">
      <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @tool.user_id %>">
    </div>
  </div>

  <!-- Label and input for available -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label for="available">
          <input type="checkbox" id="available" name="available" value="1" <%= "checked" if @tool.available %>>
          Available
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Update Tool" class="btn btn-primary">
    </div>
  </div>
</form>
