<div class="page-header">
  <h1>Tools</h1>
</div>

<p><a href="/tools/new" class="btn btn-primary">Add a New Tool</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Tool name</th>
      <th>User</th>
      <th>Available</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
      <tr>
        <td><%= tool.tool_name %></td>
        <td><%= tool.user_id %></td>

        <td>
          <a href="/tools/<%= tool.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/tools/<%= tool.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_tool/<%= tool.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

