<div class="page-header">
  <h1><%= @tool.tool_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Tool name</dt>
  <dd><%= @tool.tool_name %></dd>

  <dt>Owner</dt>
  <dd>
    <%= @tool.owner.username %>
  </dd>

  <dt>Available?</dt>
  <dd>
  <%= @tool.placeholder %>
  <% if @tool.placeholder == true %>

    <a href="/update_tool_availability/<%= @tool.id %>" class="btn btn-success btn-lg">Reserve this tool</a>
    <% else %>
    <a href="/update_tool_availability/<%= @tool.id %>" class="btn btn-success btn-lg">Replace this tool</a>

    <% end %>
  </dd>

</dl>
