<div class="page-header">
  <h1><%= @tool.tool_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Tool name</dt>
  <dd><%= @tool.tool_name %></dd>

  <dt>Owner</dt>
  <dd>
    <%= @tool.owner.username %>
  </dd>

  <dt>Available?</dt>
  <dd>
  <% if @tool.placeholder = "true" %>
    <%= link_to("Reserve this tool",
                "/update_tool_availability/#{:id}",
               # "/update_tool_availability?#{:id}&placeholder=#{false}",
               :class => "btn btn-success btn-lg") %>
    <% else %>
    <%= link_to("Tool is currently unavailable",
                "/update_tool_availability?#{:id}&placeholder=#{true}",
                :class => "btn btn-success btn-lg") %>
    <% end %>
  </dd>

</dl>
