<div class="page-header">
  <h1><%= @tool.tool_name %></h1>
</div>


<div class="row">
  <div class="col-sm-4">
    <p>Owned by <a href="/users/<%= @tool.owner.id %>"><%= @tool.owner.username %></a></p>
    <% if @tool.available %>
      <p>This tool is currently available.</p>
      <%= link_to("Reserve this tool", "/update_tool_availability/#{@tool.id}", :class => "btn btn-success btn-large" ) %>
    <% else %>
      <p>This tool is currently unavailable.</p>
       <%= link_to("Send a request to the owner", "/update_tool_availability/#{@tool.id}", :class => "btn btn-warning btn-large" ) %>
    <% end %>
   </div>
</div>

