<div class="page-header">
  <h1><%= @tool.tool_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Tool name</dt>
  <dd><%= @tool.tool_name %></dd>

  <dt>Owner</dt>
  <dd>
    <%= @tool.owner.username %>
  </dd>

  <dt>Available?</dt>
  <dd>

  <% if @tool.placeholder == true %>
    <p>This tool is currently available.</p>
    <a href="/update_tool_availability/<%= @tool.id %>" class="btn btn-success btn-large">Reserve this tool</a>
  <% else %>
    <p>This tool is currently unavailable.</p>
     <a href="/update_tool_availability/<%= @tool.id %>" class="btn btn-warning btn-large">Send a request to the owner</a>
   <% end %>
  </dd>

</dl>
