<div class="page-header">
  <h1><%= @tool.tool_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Tool name</dt>
  <dd><%= @tool.tool_name %></dd>

  <dt>Owner</dt>
  <dd>
    <%= @tool.owner.username %>
  </dd>

  <dt>Available?</dt>
  <dd>
  <% if @tool.placeholder = "false" %>
    <%= link_to("Reserve this tool",
               "/tools/#{@tool.id}",
               :class => "btn btn-success btn-lg") %>
    <% else %>
    <%= link_to("Tool is currently unavailable",
                "/tools/#{@tool.id}",
                :class => "btn btn-success btn-lg") %>
    <% end %>
  </dd>

</dl>
