<div class="page-header">
  <h1>Memberships</h1>
</div>

<p><a href="/memberships/new" class="btn btn-primary">Add a New Membership</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Group</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.group_id %></td>
        <td><%= membership.user_id %></td>
        <td>
          <a href="/memberships/<%= membership.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/memberships/<%= membership.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_membership/<%= membership.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

