<div class="page-header">
  <h1>Groups</h1>
</div>

<%= link_to("Add a New Group", "/groups/new", :class => "btn btn-primary" ) %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Group name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.group_name %></td>
        <td>
          <%= link_to("<i class=\"fa fa-search-plus\"></i>".html_safe, "/groups/#{group.id}", :class => "btn btn-primary") %>
        </td>
        <td>
          <%= link_to("<i class=\"fa fa-edit\"></i>".html_safe, "/groups/#{group.id}/edit", :class => "btn btn-warning") %>
        </td>
        <td>
          <%= link_to("<i class=\"fa fa-trash-o\"></i>".html_safe, "/delete_group/#{group.id}", :class => "btn btn-danger") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

