<div class="page-header">
  <h1>Users</h1>
</div>

<p><%= link_to("Add a User", "/users/new", :class => "btn btn-primary") %></p>

  <tbody>
    <% @users.each do |user| %>
      <ul>
        <li>
          <div><%= user.username %></div>
          <div>
            <%= link_to("<i class=\"fa fa-search-plus\"></i>".html_safe, "/users/#{user.id}", :class => "btn btn-primary") %>
            <%= link_to("<i class=\"fa fa-edit\"></i>".html_safe, "users/#{user.id}/edit", :class => "btn btn-warning") %>
            <%= link_to("<i class=\"fa fa-trash-o\"></i>".html_safe, "delete_user/#{user.id}", :class => "btn btn-danger") %>
          </div>
        </li>
      </ul>
    <% end %>
  </tbody>
</table>

