<div class="page-header">
  <h1><%= @user.username %></h1>
</div>

<div class="row">
  <div class="col-sm-4">
    <h4><%= @user.username %>'s Tools</h4>
      <ul>
        <% @tools.each do |tool| %>
          <li class="list-group-item"> <%= link_to(tool.tool_name, "/tools/#{tool.id}")%>
            <% if @user.id == current_user.id %>
              <%= link_to("<i class=\"fa fa-trash-o\"></i>".html_safe, "/delete_tool/#{tool.id}")%>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
      <% if @user.id == current_user.id %>
          <%= link_to("Add a new tool", "/tools/new", :class => "btn btn-success btn-large")%>
        <% end %>
    </div>
</div>


